<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll">

    <listeners>
        <listener class-name="listener.Reporter"/>
    </listeners>

    <!-- @BeforeTest -->
    <test name="case 1">
        <classes>
            <class name="example_1.SuiteConfiguration" />
            <class name="example_1.TestConfiguration" />
            <class name="example_1.TestDBConnection" />
        </classes>
    </test>
    <!-- @AfterTest -->

    <!-- @BeforeTest -->
    <test name="case 2">
        <classes>
            <class name="example_1.TestDBConnection" />
        </classes>
    </test>
    <!-- @AfterTest -->

</suite>
        <!-- @AfterSuite -->